@font-face {
    font-family: "Bedas Neue_Bold";
    src: url(../../fonts/Bebas\Neue_Bod.ttf);
}

@font-face {
    font-family: "Gilroy Extra_Bold";
    src: url(../../fonts/Gilroy_Extrabold.otf);
}

@font-face {
    font-family: "Proxima Nova_Bold";
    src: url(../../fonts/Proxima_Nova_bold.otf);
}
@font-face {
    font-family: "Proxima Nova_Regular";
    src: url(../../fonts/Proxima_Nova_reegular.ttf);
}
@font-face {
    font-family: "Proxima Nova_Regular_It";
    src: url(../../fonts/Proxima_Nova_Reg_It.otf);
}
@font-face {
    font-family: "Proxima Nova_Semibold";
    src: url(../../fonts/Proxima_Nova_Semibold.ttf);
}
