$color-light: #fff;
$color-primary: #151515;
$color-brand: #333333;
$color-text_light: #707070;
$color-text: #505050;
$color-link: #FEE040;
$color-bg: F5F5F5;

$content-width: 1920px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;