.services {
    background: url(../img/bg.jpg);
    h5 {
        color: $color-light;
        padding-top: 20px;
    }
}

.services__title {
    text-align: center;
    padding-top: 100px;
    h3 {
        color: $color-light;
        padding-top: 20px;
    }
}
