.servisec__slider {
    padding-bottom: 140px;
}

.slider {
    max-width: 400px;
    padding-top: 20px;
    a {
        text-decoration: none;
    }
}

.slider__text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $color-light;
    opacity: 0.7;
    padding-bottom: 30px;
}